.container {
  max-width: 1100px;
  min-width: 800px;
}

.container.content {
  margin-top: 120px;
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}

.container.content .columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

footer {
  max-width: 1100px;
  min-width: 800px;
}

.artist {
  width: 100%;
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.artist img {
  width: 100%;
  padding-bottom: 15px;
}

.pin .artist-name {
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  .columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  }
}

@media (min-width: 1100px) {
  .columns {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  }
}

.container.content:hover .pin:not(:hover) {
  opacity: 0.4;
}

.clear {
  width: 100%;
  clear: both !important;
  display: inline-block;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clear {
  height: 1%;
}

.starter-template form {
  width: 300px;
}

.starter-template form .btn-primary {
  margin-top: 10px;
}
